.steps
  .container
    %ul
      %li(class= "#{active('home','step1')}")
        .border          
          %i.step-1
          .text Get Quote
      %li(class= "#{active('home','step2')}")
        .border
          %i.step-2
          .text Pick Up & Drop Off
      %li(class= "#{active('home','step3')}")
        .border
          %i.step-3
          .text Payment Info
      %li(class= "#{active('home','step4')}")
        .border
          %i.step-4
          .text Payment Receive
