%ul#myTab.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#home"} Home
  %li
    %a{"data-toggle" => "tab", :href => "#profile"} Profile
.tab-content
  #home.tab-pane.active home
  #profile.tab-pane Profile


