.banner
  .container
    .booking.pull-right.span10
      .tabs.active
        .tab(one=".tab-content1" two =".tab-content2")
          .tab1 Book a car
      .tabs.in-active
        .tab(one=".tab-content2" two =".tab-content1")
          .tab2 Manage Reservation
      .span10.tab-content1
        .row
          .span5
            %label Location
          .span4.tright.link
            = link_to "Airport codes", ""
        .row
          .span10
            %input(type="text" class="span9" placeholder="Enter Airport, City or zipcode")
        .row
          .span9
            %input(type="checkbox")
              Return at different location
          .span9(style="margin-top:15px;")
            .row
              .span5
                %label Pick-up date
              .span4
                %label Drop-off date
          .span9
            .row
              .span5
                %input(type="text" class="date" placeholder="20/12/2013")
                %input(type="text" class="time" placeholder="10:00")
              .span4
                %input(type="text" class="date" placeholder="20/12/2013")
                %input(type="text" class="time" placeholder="10:00")
          .span9(style="margin-top:15px;")
            %label Car type
          .span9
            %select.span3
              %option Standard
            .span3.pull-right
              .btn.btn-large.btn-warning.pull-right Continue
            
      .span10.tab-content2.hide
        will be updated soon
.content
  .container
    %hr(style="margin-top:120px;")
    .title1 We are the leading car agency with 300,000 Happy Customers.
    .text1
      Morbi orci ante, consectetur id vestibulum quis, suscipit eu eros. Duis non egestas dolor. Duis non volutpat leo. Aliquam nisi eros, accumsan 
      %br
      %br
      non gravida vitae, ultricces eu eros. phasellus sagittis mattis tristique
    .learn  
      .icon-circle-arrow-right
      Learn More
    %hr
    .row
      .span7
        .title2
          .icon-cog
          Dedicatted customer support
        .text2
          Praesent tempus egestas blandit. Nunc euismod volutpat ultrices. Nam fermentum nibh eget mi vehicula dictum.
      .span7.offset1
        .title2
          .icon-tag
          Special low rates on car booking
        .text2
          Nunc ut nibh, id dapibus quam. mauris id est at diam rutrum ultricies. Vivamus et dolor valit. Nam congue blandit nulla sed tincidunt.
      .span7.offset1
        .title2
          .icon-edit
          Manage your booking online
        .text2
          Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et malesuada fames ac turpis egestas
    %hr
    
    .home_sign_up
      .span10
        .text Signup for our email to celebrate great specials
      .span5
        %input(type="text" placeholder="Name")
      .span5
        %input(type="email" placeholder="Email")
      .span3
        .btn.btn-large.btn-warning SIGN UP        
