.steps
  .container
    %ul.row
      %li
        .border          
          %i.step-ok
          .text Get Quote
      %li
        .border
          %i.step-ok
          .text Pick Up & Drop Off
      %li.active
        .border
          %i.step-3
          .text Payment Info
      %li
        .border
          %i.step-4
          .text Payment Receive
