.steps
{
   border-bottom:2px solid #ccc;
   background-image:url("step_bg.jpg");

   ul{
      margin-bottom:0px;
      margin-left:0px;
      li{
         list-style:none;
         display:inline;
         font-size:16px;
         width:25%;
         float:left;
         [class^='icon-']{
            font-size:50px;
            font-weight:100;
         }
         .border{
            border-left:1px solid #ccc;         
            height:50px;
            padding:15px 0 15px 20px; 
            .text{
               margin:15px 0 0 10px;  
               float:left;
            }
            i{
               background:url("step_icon.png");
               @include size(45px, 44px);
               float:left;
            }
            .step-1{background-position:-2px 47px;}
            .step-2{background-position:-47px 47px;}
            .step-3{background-position:-91px 47px;}
            .step-4{background-position:-134px 47px;}
            .step-ok{background-position:47px 47px;}
         }
      }
      li:last-child {
         .border{
            border-right:1px solid #ccc;
         }
      }  
      .active{
         @include gradient-vertical(#3C98FD, #286FBD);
         color:#fff;
         .step-1{background-position:-2px 97px !important;}
         .step-2{background-position:-47px 97px !important;}
         .step-3{background-position:-91px 97px !important;}
         .step-4{background-position:-134px 97px !important;}
         .step-ok{background-position:47px 97px !important;}
      }
   }
}

.panel{
   margin-top:30px;
   background:#f9f9f9;
   min-height:600px;
   @include border-radius(5px);
   padding:18px;
   border:1px solid #bbb;
   @include box-shadow(0 0 8px #ccc);
   .review{
      color:#434B56;
      font-size:15px;
      float:left;
      margin-left:5px;
   }
   .title{
      background-color:#eee;
      padding: 5px 20px;
      margin: 10px -18px;
      text-transform:uppercase;
      font-size:11px;
   }
   
   .comments, .comments a{
      font-size:12px;  
      margin-bottom:20px;
   }

   .help{
      font-size:17px;
      float:left;
      margin-left:10px;
      margin-bottom:20px;
   }

   .panel_title{
      background-color:#fff;
      height:30px;
      padding: 15px 20px 6px;
      margin:-18px -18px -10px;
      color:$color;
      font-size: 16px;
      font-weight: bold;
      border-bottom:1px solid #ccc;
      img{
         margin:-2px 8px 0 0;
      }
      clear:both;
   }

   table{
      margin:10px 0 20px 10px;
      td{
         height:30px;
      }
   }

   .discount_btn{
      background-color:#7B7F88;
      padding:3px 10px;
      @include border-radius(5px);
      color:#fff;
      width:121px;
      float:left;
      margin:0px 20px 0
   }

   .blue div{
      color:$color !important;
   }
   
   .payment_detail{
      margin-top:15px;
      .text{
         font-size:18px;
         text-align:left;
         input[type="radio"]{
            margin:0px;
            @include square(15px);
            margin-right:5px;
         }                  
      }
      .arrow{
         border-top:1px solid #ccc;
         border-bottom:1px solid #ccc;
         border-left:1px solid #ccc;
         background:#fff;  
         float:right;
         font-size:11px;
         padding:0 9px 0;
         width:140px;
         text-align:right;
         position: relative;
         @include border-radius(3px 0 0 3px);
         img{
            @include size(13px, 13px);
            margin:0 3px 2px;
         }
      }

      .arrow:after {
         content: '';
         display: block;
         position: absolute;
         top: 2px;
         right:-7px;
         width: 15px;
         height: 15px; 
         background: #FFFFFF;
         border-right:1px solid #ccc;
         border-bottom:1px solid #ccc;
         -moz-transform:rotate(-45deg);
         -webkit-transform:rotate(-45deg);
      }


      .price{
         font-size:18px;
         text-align:right;
         color:#434B56;
      }
   }

   .total{
      background:#434B56;
      padding: 12px 20px;
      margin: 30px -18px 0;
      height:20px;
      color:#fff;
      text-transform:uppercase;
      font-size:18px;
   }

   .tarea{
      @include size(120px, 570px);
      margin:20px 0 20px 0;
   }

   .payment{
      label{
         text-transform:uppercase;
         font-size:11px;
         height:20px;
      }

      input[type=text]{
         padding:10px;
         background-color:#F9F9F9;
      }

      select{
         padding:5px;
         height:42px;
      }
   }

   .gutter{
      margin-left:20px;
   }

   .checkbox{
      @include square(20px);
      margin:-1px 10px;
      background:#fff !important;
   }

   .facebook_btn{
      margin-top:20px;
      @include gradient-vertical(#697DA2, #516695); 
      @include border-radius(5px);
      @include box-shadow(0 0 2px #888);
      color:#fff;
      .icon-facebook{
         font-size:18px;         
         border-right:1px solid #51678E;
         padding:3px 0px 4px 12px;
         display:block;
         width:20px;
         float:left;
      }
      .text{
         border-left:1px solid #788BAE;
         padding:3px 0 3px 10px;
         float:left;
      }
   }

   .email_btn{
      margin:20px 0 0 20px;
      @include gradient-vertical(#4C97EA, #2D72C0); 
      @include border-radius(5px);
      @include box-shadow(0 0 2px #888);
      color:#fff;
      .icon-envelope{
         font-size:16px;         
         border-right:1px solid #1D64B3;
         padding:3px 5px 4px 8px;
         display:block;
         width:20px;
         float:left;
      }
      .text{
         border-left:1px solid #6592C9;
         padding:3px 0 3px 10px;
         text-align:center;
         float:left;
         width:160px;
      }
   }
}

.congrats{
   color:#333;
   font-size: 15px;
   font-weight: bold;
   margin: 15px 0 10px 0;
}

.order_btn{
   margin-top:30px;
   height:20px;
   min-width:160px;
   padding:13px;
   border:0px;
   font-size:14px;
   font-weight:bold;
   color:#fff;
   text-transform:uppercase;
   text-align:center;
   @include gradient-vertical(#3E97FB, #256AB7);
   @include border-radius(4px);
   
   [class^="icon-"]{
      margin-left:10px;
   }
}